.container {
  background-color: white;
  margin: 0px;

}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.image {
  border-width: 6px;
  border-style: solid;
  border-image: linear-gradient(rgb(33, 33, 33), rgb(99, 99, 99)) 1;
  margin: 2em;
}

.generalButton {
  width: 32vw;
  height: 6vh;
  font-size: 16px;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  border: 3px solid black;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 3em;
  transition: 0.3s;
  background-size: 200% auto;
  background-color: white;
}


.generalButton:hover {
  background-color: #DDD;
}

.joinUs {
  margin-top: 100em;
}
